* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

header {
  background: url("/assets/image/background1.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: white;
}
.overlay {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.header-content {
  z-index: 2;
  text-align: center;
}
.btn-custom {
  background-color: #007bff;
  color: white;
  border-radius: 5px;
}
.btn-custom:hover {
  background-color: #0056b3;
}
.fasilitas-item,
.kontak-item {
  background-color: #007bff;
  color: white;
  padding: 20px;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}
.fasilitas-item:hover,
.kontak-item:hover {
  transform: translateY(-10px);
}
footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 20px;
}

.cyan-900 {
  background-color: #098fa9;
}

.text-cyan-900 {
  color: #098fa9;
}

:root {
  --animation-duration: 0.6s;
  --opacity-duration: 0.5s;
  --transform-distance: 100px;
}

.animate {
  opacity: 0;
  transition: all var(--animation-duration) ease-out,
    opacity var(--opacity-duration) ease-out;
}

.animate-left {
  transform: translateX(var(--transform-distance));
}

.animate-right {
  transform: translateX(calc(-1 * var(--transform-distance)));
}

.animate.visible {
  opacity: 1;
  transform: translateX(0);
}
